input[type=text], input[type=file], button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file], button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

div {
  background-color: #f2f2f2;
  padding: 20px;
}